<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.movie_title }}</title>
    <link rel="stylesheet" href="/static/src.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <div class="logo-container">
                    <h1 class="logo">AP</h1>
                </div>
                <div class="menu-container">
                    <ul class="menu-list">
                        <li class="menu-list-item {% if not search_results %}active{% endif %}"><a href="/" class="nav-link">Home</a></li>
                        <li class="menu-list-item">Movies</li>
                        <li class="menu-list-item">Series</li>
                        <li class="menu-list-item">Popular</li>
                        <li class="menu-list-item">Trends</li>
                    </ul>
                </div>
                <div class="profile-container">
                    <img class="profile-picture" src="/static/img/VALLOGOS.jpg" alt="Profile Picture">
                    <div class="profile-text-container">
                        <span class="profile-text">Profile</span>
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="toggle">
                        <i class="fas fa-moon toggle-icon"></i>
                        <i class="fas fa-sun toggle-icon"></i>
                        <div class="toggle-ball"></div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="player-container">
            <iframe id="player" class="player-iframe" allowfullscreen webkitallowfullscreen mozallowfullscreen frameborder="0" src="{{ movie.movie_link }}" scrolling="no"></iframe>
        </div>

        <div class="movie-details">
            <h2>{{ movie.movie_title }}</h2>
            <p><strong>Description:</strong> {{ movie.description }}</p>
            <p><strong>Genres:</strong> {{ movie.genres }}</p>
            <p><strong>Country:</strong> {{ movie.country }}</p>
            <p><strong>Year:</strong> {{ movie.movie_year }}</p>
            <div class="movie-info">
                <img class="movie-poster" src="{{ movie.movie_image }}" alt="Poster for {{ movie.movie_title }}">
                <button class="download-button" onclick="showDownloadInstructions()">Download</button>
            </div>

            {% if movie.episode_links %}
                <div class="episode-container">
                    <h3>Episode Links:</h3>
                    <div class="episode-links">
                        {% for link in movie.episode_links.split(', ') %}
                            <div class="episode-item">
                                <a href="#" onclick="changeEpisode('{{ link }}'); return false;">Episode {{ loop.index }}: {{ link }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="downloadInstructions" class="instructions-popup" style="display: none;">
        <p>To download this content, right-click on the video and select "Save video as..."</p>
        <button onclick="hideDownloadInstructions()">Close</button>
    </div>

    <script>
        function showDownloadInstructions() {
            document.getElementById('downloadInstructions').style.display = 'block';
        }

        function hideDownloadInstructions() {
            document.getElementById('downloadInstructions').style.display = 'none';
        }

        function changeEpisode(link) {
            var player = document.getElementById('player');
            player.src = link;
        }
    </script>
</body>

</html>
